span.formatting_0 {
  color: $mc-black;
}

span.formatting_1 {
  color: $mc-dark-blue;
}

span.formatting_2 {
  color: $mc-dark-green;
}

span.formatting_3 {
  color: $mc-dark-aqua;
}

span.formatting_4 {
  color: $mc-dark-red;
}

span.formatting_5 {
  color: $mc-dark-purple;
}

span.formatting_6 {
  color: $mc-gold;
}

span.formatting_7 {
  color: $mc-gray;
}

span.formatting_8 {
  color: $mc-dark-gray;
}

span.formatting_9 {
  color: $mc-blue;
}

span.formatting_a {
  color: $mc-green;
}

span.formatting_b {
  color: $mc-aqua;
}

span.formatting_c {
  color: $mc-red;
}

span.formatting_d {
  color: $mc-light-purple;
}

span.formatting_e {
  color: $mc-yellow;
}

span.formatting_f {
  color: $mc-white;
}

span.formatting_k {
  /*todo: obfuscated??*/
}

span.formatting_l {
  font-weight: bold;
}

span.formatting_m {
  text-decoration: line-through;
}

span.formatting_n {
  text-decoration: underline;
}

span.formatting_o {
  font-style: italic;
}
