span.formatting_0 {
  color: var(--mc-black);
}

span.formatting_1 {
  color: var(--mc-dark-blue);
}

span.formatting_2 {
  color: var(--mc-dark-green);
}

span.formatting_3 {
  color: var(--mc-dark-aqua);
}

span.formatting_4 {
  color: var(--mc-dark-red);
}

span.formatting_5 {
  color: var(--mc-dark-purple);
}

span.formatting_6 {
  color: var(--mc-gold);
}

span.formatting_7 {
  color: var(--mc-gray);
}

span.formatting_8 {
  color: var(--mc-dark-gray);
}

span.formatting_9 {
  color: var(--mc-blue);
}

span.formatting_a {
  color: var(--mc-green);
}

span.formatting_b {
  color: var(--mc-aqua);
}

span.formatting_c {
  color: var(--mc-red);
}

span.formatting_d {
  color: var(--mc-light-purple);
}

span.formatting_e {
  color: var(--mc-yellow);
}

span.formatting_f {
  color: var(--mc-white);
}

span.formatting_k {
  /*todo: obfuscated??*/
}

span.formatting_l {
  font-weight: bold;
}

span.formatting_m {
  text-decoration: line-through;
}

span.formatting_n {
  text-decoration: underline;
}

span.formatting_o {
  font-style: italic;
}
