.recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vmin;
  height: 23vmin;
  margin: auto auto 4vmin;

  &.errormsg {
    font-size: small;
  }
}

.multi_recipe {
  display: flex;

  & button.recipe_prev::before {
    content: '🠼';
    color: var(--text-color);
  }

  & button.recipe_next::before {
    content: '🠾';
    color: var(--text-color);
  }
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;

  &.col2 {
    grid-template-columns: 50% 50%;
  }

  &.col3 {
    grid-template-columns: 33% 33% 33%;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

div.arrow, div.output {
  margin: auto 5%;
}

div.arrow::before {
  content: '🡆';
  color: rgba(0, 0, 0, 0.1);
  vertical-align: super;
  font-size: xxx-large;
}

div.item {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 2px;
  width: 8vmin;
  height: 8vmin;

  & span.symbol {
    position: relative;
    top: 15%;
  }

  & span.count {
    position: absolute;
    margin-top: 5vmin;
    margin-left: 1vmin;
    font-size: 80%;
  }

  & .tooltip {
    display: none;
  }

  &:hover .tooltip {
    display: block;
    position: fixed;
    overflow: hidden;
  }
}

div.blueprint-ingredient {
  margin-right: 5vmin;
}

div.item_display {
  display: flex;
  justify-content: center;

  & div.item {
    margin: 1vmin;
    height: 9vmin;
    width: 9vmin;
    text-align: center;
  }
}


.images {
  display: flex;
  flex-direction: column;
  align-items: center;

  .embedded_image {
    width: 55vmin;
    border: 1vmin var(--highlight-color) solid;
    margin: 0.5vmin;
  }

}
