span.keybind {
  overflow: hidden;
  background-color: $background-highlight;
  padding: 0 8px;
  box-shadow: $box-shadow;
  font-size: smaller;
}

a.text-link {
  text-decoration: underline 0.3vmin;
}

span.config-helper {
  position: absolute;
  left: 3%;
  opacity: 50%;
  cursor: pointer;

  &:hover ~ span.config {
    background: rgba(0, 0, 0, 0.1);
  }
}

// custom select boxes
.select-dropdown {
  display: flex;
  align-items: baseline;
  position: absolute;

  .select-header {
    right: 0;

    padding-left: 2vmin;
    padding-right: 1vmin;
    background-color: $background-highlight;
    box-shadow: $box-shadow;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-block;
      background-image: url('../assets/arrow_down.png');
      background-size: cover;
      width: 2.5vmin;
      height: 2.5vmin;
      left: 0.5vmin;
      position: relative;
    }

    &.active::after {
      background-image: url('../assets/arrow_up.png');
    }
  }

  .select-options {
    display: none;
    // positioning
    position: absolute;
    right: 0;
    height: 13vmin;
    margin-top: -15vmin;
    z-index: 10;

    // styling
    list-style: none;
    background: $background-highlight;
    padding: 1vmin;
    border: $text-color 1px solid;
    overflow-y: scroll;

    li:hover {
      cursor: pointer;
      color: $highlight-color;
    }
  }

  .select-header.active + .select-options {
    display: initial;
  }
}